/*
    font-family: 'Montserrat', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Rubik Moonrocks', cursive;

    font-family: 'Source Sans Pro', sans-serif;

    font-family: 'Space Mono', monospace;

    font-family: 'Titan One', cursive;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
*/

/* * * * * * * * * * * * * * * * * * * * * * *
 * Allgemein
 * * * * * * * * * * * * * * * * * * * * * * */

 html
 {
     margin: 0;
     padding: 0;
     background-color: rgb(100,150,150);
 }
 
 body
 {
    background-color: #fff;
     width: 80%;
     margin: 0 auto;
     font-family: Open Sans;
     font-size: 16px;
     line-height: 22px;
 }
 
main
{
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 140px;
    font-family: Open Sans;
}

 /* * * * * * * * * * * * * * * * * * * * * * *
  * Rene
  * * * * * * * * * * * * * * * * * * * * * * */
 
 .nav-container {
   height: 60px; z-index: 9999;
   background-color: #3a778e;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   overflow: hidden;
   position: fixed; /* Element an der angegegeben Position dauerhaft festigen */
   width: 80%; /* Breite des Elements 80% der Sichtfeld anpassen */
   left: 10%; /* Das Element von links aus 10% reinrücken */
   top: 0px; /* Element an der Position 0 auf der vertikalen Ebene festlegen */

 }
 
 .nav-container .logo {
   max-width: 250px;
   padding: 0 10px;
   overflow: hidden;
 }
 
 .nav-container .logo a {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   height: 60px;
 }
 
 .nav-container .logo a img {
   max-width: 100%;
   max-height: 60px;
 }
 
 .nav-container .navbar {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-flex: 1;
   -ms-flex: 1;
   flex: 1;
   padding: 0 10px;
 }
 
 .nav-container .navbar ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   list-style: none;
   margin: 0;
   padding: 0;
 }
 
 .nav-container .navbar ul li a {
   text-decoration: none;
   color: #cccccc;
   font-weight: 600;
   font-size: 18px;
   text-transform: uppercase;
   letter-spacing: 0.5px;
   display: block;
   height: 60px;
   line-height: 60px;
   cursor: pointer;
   padding: 0 10px;
 }
 
 .nav-container .navbar ul li a:hover {
   color: #ffffff;
   background-color: rgba(23, 23, 23, 0.9);
 }
 
 .nav-container .navbar ul .close {
   display: none;
   text-align: right;
   padding: 10px;
 }
 
 .nav-container .navbar ul .close span {
   font-size: 40px;
   display: inline-block;
   border: 1px solid #cccccc;
   padding: 0 10px;
   cursor: pointer;
 }
 
 .nav-container .navbar .icon-bar {
   padding: 18px 8px;
   width: 50px;
   height: 60px;
   display: none;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   cursor: pointer;
 }
 
 .nav-container .navbar .icon-bar i {
   background-color: #ffffff;
   height: 2px;
 }
 
 @media only screen and (max-width: 650px) {
   .nav-container {
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
   }
 
   .nav-container .logo {
     -webkit-box-flex: 1;
     -ms-flex: 1;
     flex: 1;
   }
 
   .nav-container .navbar {
     -webkit-box-flex: 0;
     -ms-flex: 0;
     flex: 0;
   }
 
   .nav-container .navbar ul {
     -ms-flex-wrap: nowrap;
     flex-wrap: nowrap;
     position: fixed;
     left: 100%;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     background: #ffffff;
     width: 100%;
     height: 100%;
     overflow: auto;
     -webkit-transition: left 0.3s;
     -o-transition: left 0.3s;
     transition: left 0.3s;
   }
 
   .nav-container .navbar ul li a {
     padding: 10px;
     font-size: 18px;
     height: auto;
     line-height: normal;
     color: #333333;
   }
 
   .nav-container .navbar ul .close {
     display: block;
   }
 
   .nav-container .navbar .icon-bar {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
   }
 
   .nav-container .navbar ._Menus-show {
     left: 0;
   }
 }
 
 /* * * * * * * * * * * * * * * * * * * * * * *
  * Karim
  * * * * * * * * * * * * * * * * * * * * * * */

  footer{
    border-top: 1px solid rgb(160,170,180);
    border-bottom: none;
    padding-top: 6px;
    padding-bottom: 6px;
     background-color: rgba(255,255,255,0.92);
     display: flex;
     justify-content: center;
     justify-items: center;
     position: fixed; /* Element an der angegegeben Position dauerhaft festigen */
     bottom: 0; /* Element wird am unteren Rand festgesetzt */
     width: 80%; /* Breite des Elements 80% der Sichtfeld anpassen */
     left: 10%; /* Das Element von links aus 10% reinrücken */
 }
 
 .footer-span a{
     color: rgba(8, 0, 0, 0.829);
     font-size: 15px;
     text-decoration: none;
     align-content: space-between;
 
 }
 
 #search{
     margin-top:12px;
     display: flex;
     justify-content: center;
 }
 
 
 .search{
     
     color:rgba(0, 0, 0, 0.517);
     font-size: 15px; 
 }
 
 .footer-container .footer-span a:hover{
 
     color: rgb(232, 26, 26);
 }
 
footer input[type="text"]
{
    outline: none;
    margin-left: 10px;
    border: 1px solid rgb(170,180,190);
    border-radius: 6px;
    box-shadow: inset 4px 4px 4px rgba(0,0,0,0.1);
}

.external
{
    position: fixed;
    top: 100px;
    left: 15%;
    width: 70%;
    padding: 4px;
    background-color: rgba(255,255,255,0.96);
    border-radius: 10px;
    border: 1px solid rgb(160, 160, 160);
    box-shadow: 8px 8px 8px rgba(0,0,0,0.12);
    z-index: 90000; /* Liegt über alle anderen Elementen */
}

.external .titlebar
{
    background-color: rgba(5,110,150);
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border-top-left-radius: 10px; /* Abrundung auf der linken Seite oben */
    border-top-right-radius: 10px; /* Abrundung auf der rechten Seite oben */
    box-shadow: inset 4px 4px 4px rgba(0,0,0,0.1);
}

.external .contentarea
{
    height: 400px;
    padding: 4px;
}

.external .contentarea iframe
{
    border: none;
}

.external .buttonbar
{
    margin-top: 6px;
    padding-top: 6px;
    border-top: 1px solid rgb(160, 160, 160);
    justify-content: flex-end;
    text-align: right;
}

button
{
    box-shadow: inset -4px -4px 4px rgba(0,0,0,0.08);
    border: 1px solid rgb(160,160, 160);
    background-color: rgb(230,235,245);
    transition: all 0.3s ease-out;
    border-radius: 4px;
    padding: 8px 20px;
    cursor: pointer;
    outline: none;
}

button:hover
{
    border: 1px solid rgb(160,120, 160);
    background-color: rgb(230,240,245);
}


button:active
{
    box-shadow: inset 4px 4px 4px rgba(0,0,0,0.1);
}

 /* * * * * * * * * * * * * * * * * * * * * * *
  * Abdülaziz
  * * * * * * * * * * * * * * * * * * * * * * */
 
.pagination
{
    position: absolute; /* Element an der angegegeben Position dauerhaft festigen */
    margin-top: -46px;
    width: 80%; /* Breite des Elements 80% der Sichtfeld anpassen */
    left: 10%; /* Das Element von links aus 10% reinrücken */
    height: 35px;
    background-color: rgba(255,255,255,0.92);
    border-top: 1px solid rgb(160,170,180);
    border-left: 1px solid rgb(160,170,180);
    border-right: 1px solid rgb(160,170,180);
    justify-content: center;
    text-align: center;
    padding: 2px;
}

#loader
{
    height: 128px;
    z-index: 90000;
    position: fixed;
    top: 0px;
    left: 0px;
    margin-top: 20%;
    width: 100%;
    text-align: center;
    justify-content: center;
}

  .resitem
  {
      width: 100%;
      outline: none;
      margin: 0 auto;
      margin-bottom: 20px;
  }
  .resitem div
  {
      padding: 0px;
  }
  .resitem a
  {
      text-decoration: none;
      color: #000;
  }
  .resitem .layout_1
  {
      display: flex;
      width: 100%;
    	font-family: Open Sans;
  }
  .resitem .layout_1 div
  {
      background-color: rgb(230,230,240);
      border-bottom: none;
      padding: 10px;
  }
  .resitem .layout_1 div:nth-child(1)
  {
      border-right: none;
  }
  .resitem .layout_1 div:nth-child(2)
  {
      border-left: none;
  }
  .resitem .layout_1 .counter 
  {
      position: absolute;
      border-radius: 50%;
      border: none;
      padding: 5px 12px;
      margin-top: -16px;
      margin-left: -16px;
      color: #fff;
      border: 2px solid rgb(255,255,255);
      background-color:rgb(160,120, 160);
      box-shadow: inset -4px -4px 4px rgb(0,0,0,0.2);
  }
  .resitem .layout_2
  {
      padding: 20px;
      background-color: rgb(230,230,240);
      box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
      border-top-right-radius: 6px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      max-height: 200px;
      overflow: auto;
      font-family: Open Sans;
  }
  .resitem .layout_3
  {
      padding: 20px;
      line-height: 26px;
      background-color: rgb(230,230,240);
      box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
      border-top-right-radius: 6px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      text-align: justify;
      max-height: 200px;
      overflow: auto;
      font-family: Open Sans;
  }
  .resitem .layout_4
  {
      padding: 10px;
      line-height: 26px;
      background-color: #FFF;
      box-shadow: inset 4px 4px 4px rgba(0,0,0,0.1);
      border-top: 1px solid rgb(80,110,140);
      border-left: 1px solid rgb(80,110,140);
      border-radius: 6px;
      text-align: justify;
      max-height: 200px;
      overflow: auto;
      font-family: Open Sans;
  }
  .resitem .comment1
  {
      margin: 5px auto;
      font-size: 12px;
      color: blue;
  }
  .resitem .comment2
  {
      margin: 5px auto;
      font-size: 12px;
      color: red;
  }
  .resitem .crdate
  {
      padding-right: 10px;
      font-size: 10px;
      border-top-right-radius: 6px;
  }
  .resitem .author
  {
      padding-left: 20px;
      border-top-left-radius: 6px;
  }
  .resitem .author b
  {
      font-size: 10px;
  }
  .resitem .headline
  {   font-size: 20px;
    line-height: 30px;
      text-align: center;
  }