/*
    font-family: 'Montserrat', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Rubik Moonrocks', cursive;

    font-family: 'Source Sans Pro', sans-serif;

    font-family: 'Space Mono', monospace;

    font-family: 'Titan One', cursive;
*/

/* * * * * * * * * * * * * * * * * * * * * * *
 * Allgemein
 * * * * * * * * * * * * * * * * * * * * * * */

html
{
    margin: 0;
    padding: 0;
}

body
{
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 22px;
}

/* * * * * * * * * * * * * * * * * * * * * * *
 * Rene
 * * * * * * * * * * * * * * * * * * * * * * */



/* * * * * * * * * * * * * * * * * * * * * * *
 * Karim
 * * * * * * * * * * * * * * * * * * * * * * */



/* * * * * * * * * * * * * * * * * * * * * * *
 * Abdülaziz
 * * * * * * * * * * * * * * * * * * * * * * */
